<div class="row">
  <div class="col-lg-12">
    <h3>Empresas </h3>
    <br>
    <div class="col-md-6 col-md-offset-3">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar Empresa">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">Buscar</button>
        </span>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {{!-- {{#each item in model}} --}}
      <div class="col-md-4 grid-user">
        <div class="panel panel-success">
          <div class="panel-heading">
            <img src="images/empresa05.jpg">
            <div class="name">Magazine Luiza</div>
            <div class="occupation"> Luiza Trajano Donato</div>
          </div>
          <div class="panel-body text-center">
            {{fa-icon "facebook-square" size=3}}
            {{fa-icon "linkedin-square" size=3}}
            {{fa-icon "twitter-square" size=3}}
            {{fa-icon "git-square" size=3}}
          </div>
        </div>
      </div>
        <div class="col-md-4 grid-user">
          <div class="panel panel-success">
            <div class="panel-heading">
              <img src="images/empresa06.jpg">
              <div class="name">NIKE</div>
              <div class="occupation"> Phil Knight</div>
            </div>
            <div class="panel-body text-center">
              {{fa-icon "facebook-square" size=3}}
              {{fa-icon "linkedin-square" size=3}}
              {{fa-icon "twitter-square" size=3}}
              {{fa-icon "git-square" size=3}}
            </div>
          </div>
        </div>
          <div class="col-md-4 grid-user">
            <div class="panel panel-success">
              <div class="panel-heading">
                <img src="images/empresa07.jpg">
                <div class="name">Adidas</div>
                <div class="occupation"> Adolf Dassler</div>
              </div>
              <div class="panel-body text-center">
                {{fa-icon "facebook-square" size=3}}
                {{fa-icon "linkedin-square" size=3}}
                {{fa-icon "twitter-square" size=3}}
                {{fa-icon "git-square" size=3}}
              </div>
            </div>
          </div>
            <div class="col-md-4 grid-user">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <img src="images/empresa08.jpg">
                  <div class="name">Goodyear</div>
                  <div class="occupation"> Frank Seiberling</div>
                </div>
                <div class="panel-body text-center">
                  {{fa-icon "facebook-square" size=3}}
                  {{fa-icon "linkedin-square" size=3}}
                  {{fa-icon "twitter-square" size=3}}
                  {{fa-icon "git-square" size=3}}
                </div>
              </div>
            </div>
    {{!-- {{/each}} --}}
  </div>
</div>
