<div class="row">
  <div class="col-lg-5 col-sm-5">
    <figure style="width:100%;">
      <img style="width:100%;" src="images/empresa04.jpg"/>
    </figure>
  </div>
  <div class="col-lg-7 col-sm-7">
    <h2 style="color:#FED136;">SpiceArt</h2>
    <h3>Barista</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-offset-2 col-sm-offset-2 col-lg-8 col-sm-8">
    <p>
      Barista é o profissional especializado em cafés de alta qualidade (cafés especiais). Também trabalha criando novas bebidas baseadas em café, utilizando-se de licores, cremes, bebidas alcoólicas, entre outros.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-4 grid-user">
      <div class="panel panel-success">
        <div class="panel-heading">
          <img src="images/pessoa6.jpg">
          <div class="name">Rafael Godoy</div>
          <div class="occupation">Barista</div>
        </div>
        <div class="panel-body text-center">
          {{fa-icon "facebook-square" size=3}}
          {{fa-icon "linkedin-square" size=3}}
          {{fa-icon "twitter-square" size=3}}
          {{fa-icon "git-square" size=3}}
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-user">
      <div class="panel panel-success">
        <div class="panel-heading">
          <img src="images/pessoa7.jpg">
          <div class="name">Abaddon R. Johnson</div>
          <div class="occupation">Barista</div>
        </div>
        <div class="panel-body text-center">
          {{fa-icon "facebook-square" size=3}}
          {{fa-icon "linkedin-square" size=3}}
          {{fa-icon "twitter-square" size=3}}
          {{fa-icon "git-square" size=3}}
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-user">
      <div class="panel panel-success">
        <div class="panel-heading">
          <img src="images/pessoa8.jpg">
          <div class="name">Daniel D. Johnson</div>
          <div class="occupation">Barista</div>
        </div>
        <div class="panel-body text-center">
          {{fa-icon "facebook-square" size=3}}
          {{fa-icon "linkedin-square" size=3}}
          {{fa-icon "twitter-square" size=3}}
          {{fa-icon "git-square" size=3}}
        </div>
      </div>
    </div>
    <div class="col-md-4 grid-user">
      <div class="panel panel-success">
        <div class="panel-heading">
          <img src="images/pessoa9.jpg">
          <div class="name">Leroy S. Arnold</div>
          <div class="occupation">Barista</div>
        </div>
        <div class="panel-body text-center">
          {{fa-icon "facebook-square" size=3}}
          {{fa-icon "linkedin-square" size=3}}
          {{fa-icon "twitter-square" size=3}}
          {{fa-icon "git-square" size=3}}
        </div>
      </div>
    </div>
  </div>
</div>


<style media="screen">
  .row{margin-bottom:10px;}
  .row p{margin: 30px 0; font-size:18px;}
</style>
